h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
ul, p{
    background-color: grey;
}
p{
    font-weight: 600;
    font-size: 48px;
    font-style: italic;
    line-height: normal;
    text-align: center;
}
body{
    font-size: 16px;
}

.bg_amarelo {
    background-color: yellow;
}
.bg_vermelho{
    background-color: red;
}
.bg_marrom{
    background-color: brown;
}